.nav-logo {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0.7rem;
}

.nav-toggle {
    z-index: 3;
    cursor: pointer;
}

.nav-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.nav-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 60%;
    background-color: white;
    height: 100%;
    padding: 5rem 1rem;
    transition: transform ease-in-out 0.3s;
}

.nav-list {
    list-style-type: none;
}

.nav-element {
    color: hsl(0, 0%, 41%);
    margin: 1.2rem 0;
}

.element-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.element-submenu {
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style-type: none;
    padding-left: 1rem;
}

.submenu-element {
    margin: 1rem 0;
}

.submenu-element img {
    margin-right: 0.7rem;
}

.nav-btns {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.nav-btn {
    font-size: 1rem;
    padding: 0.8rem;
    color: hsl(0, 0%, 41%);
    text-align: center;
}


.nav-btn:hover {
    border: 2px solid hsl(0, 0%, 41%);
    border-radius: 20px;
}

@media screen and (min-width:1440px) {
    nav {
        display: flex;
        align-items: center;
        margin: 0 1rem;
    }

    .nav-toggle {
        display: none;
    }

    .nav-overlay {
        display: none;
        z-index: 0;
    }

    .nav-menu {
        position: static;
        display: flex;
        padding: 0;
        justify-content: space-between;
        width: 100%;
        background-color: hsl(0, 0%, 98%);
    }

    .nav-list {

        margin-left: 3rem;
        display: flex;
        gap: 6rem;
    }

    .nav-btns {
        flex-direction: row;
        align-items: center;
    }

    .nav-element {
        z-index: 2;
        position: relative;
    }

    .element-submenu {
        position: absolute;
        z-index: 2;
        left: -30px;
        top: 30px;
        padding: 1.2rem;
        margin: 0;
        min-width: 180px;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

}